{% set _TITLE = 'Dashboard' %}
{% extends 'ms/_base.html' %}


{% block head %}
<style>
    html {
        font-size: 100%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    *,
    *::before,
    *::after {
        -webkit-box-sizing: inherit;
        box-sizing: inherit;
    }

    body {
        margin: 0;
        padding: 0;
        font-family: 'Open Sans', sans-serif;
        font-size: 1.2rem;
        font-weight: 300;
        color: black;
        line-height: 1.3;
        overflow-x: hidden;
    }

    main {
        margin-left: 90px;
    }

    .sidenav {
        height: 100%;
        width: 90px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: none;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        border-right: 2px solid #f7f7f7;
    }

    a:hover {

        border-radius: 15px;
        background-color: #D2EFEF;
    }



    #hideNavLinkOnClose {
        display: none;
    }

    a {
        margin-bottom: 3rem;

    }

    .sidenav a {
        padding: 20px 15px 20px 22px;
        text-decoration: none;
        font-size: 21px;
        color: #a2a2a2;
        display: block;
        transition: 0.1s;

    }


    .sidenav a:hover {
        color: #59C3C3;

    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    #navbarMarker {
        visibility: hidden;
        position: relative;
        border: 21px solid #59C3C3;
        left: 72px;
        top: 42px;
    }

    #main {
        transition: margin-left .5s;
        /*padding: 16px; */
    }

    @media screen and (max-height: 550px) {
        .sidenav {
            padding-top: 15px;
        }

        .sidenav a {
            font-size: 18px;
        }
    }
</style>
{% endblock %}


{% block content %}
<div id="mySidenav" class="flex-column d-flex justify-content-center align-items-center sidenav">

    <div style="font-size:27px;cursor:pointer;color:grey; right:17px;" class="closebtn" type="change"
        onclick="openNav()">
        &#9776;
    </div>
    <div class="">
        <div id="navbarMarker">
        </div>
        <a onmouseover="showrightBorder('navbarMarker')" onmouseout="hiderightBorder('navbarMarker')"
            style="padding-left:20px;" href=" #"><i class="fa-solid fa-house fa-sm"></i>
            <span id="hideNavLinkOnClose">Home</span>
        </a>
        <a href="#"><i class="fa-solid fa-user fa-sm"></i>
            <span id="hideNavLinkOnClose">Clients</span></a>

        <a href="#"><i class="fa-solid fa-paw fa-sm"></i>
            <span id="hideNavLinkOnClose">Pets</span></a>

        <a href="#"><i class="fa-solid fa-calendar fa-sm"></i>
            <span id="hideNavLinkOnClose">Calendar</span></a>

        <a href="#"><i class="fa-solid fa-gears fa-sm"></i>
            <span id="hideNavLinkOnClose">Settings</span></a>

    </div>
</div>
<div id="main">
    <p>My content</p>
</div>


{% endblock %}

{% block javascript %}
<script>
    let toggle = true;
    let sideNav = document.getElementById("mySidenav");

    function openNav() {
        sideNav.style.width = toggle ? "250px" : "90px";
        document.getElementById("main").style.marginLeft = toggle ? "170px" : "";

        const classes = sideNav.classList.add('open');
        console.log('CLASSES', sideNav)


        const allLinks = document.querySelectorAll("#hideNavLinkOnClose")
        //const allIcons = document.querySelectorAll(".fa-solid")
        for (let link of allLinks) {
            link.style.display = toggle ? "inline" : "none";
            link.style["padding-left"] = toggle ? "10px" : ""
        }
        //  for (let icon of allIcons) {
        //      icon.style.display = toggle ? "none" : "inline-block";
        //     icon.style["padding-left"] = toggle ? "30px" : "20px";
        //  }

        toggle = !toggle
    }

    if (sideNav.contains("open")) {
        alert("HELLO")
    }

    let open = document.getElementById("mySidenav").getAttribute("class")
    console.log("TOGGLE", open)


    function showrightBorder(id) {
        document.getElementById(id).style.visibility = 'visible';
    };
    function hiderightBorder(id) {
        document.getElementById(id).style.visibility = 'hidden';

    }






</script>
{% endblock %}