{% set _TITLE = 'Sign In' %}
{% set _BODYCLASS = 'login pt-0' %}
{% extends '_skeleton.html' %}
{% from 'macros/forms.html' import youshallseepass %}

{% block _head %}
<style>
    .login,
    .image {
        min-height: 100vh;
    }

    .bg-image {
        background-image: url('../../static/images/white_wall.jpg');
        background-size: cover;
        background-position: center center;
    }
</style>
{% endblock %}

{% block _content %}
<main class="container-fluid">
    <div class="container-fluid">
        <div class="row no-gutter">
            <!-- The image half -->
            <div class="col-md-6 d-none d-md-flex bg-image"></div>


            <!-- The content half -->
            <div class="col-md-6 bg-light">
                <div class="login d-flex align-items-center py-5">

                    <!-- Demo content-->
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10 col-xl-7 mx-auto">
                                <h3 class="display-4">Welcome!</h3>
                                <p class="text-muted mb-4">Please log in to access vet management</p>
                                <form>
                                    <label for="inputEmail">Email address</label>
                                    <div class="form-group mb-3">
                                        <input id="inputEmail" type="email" placeholder="Email address" required=""
                                            autofocus="" class="form-control rounded-pill border-0 shadow-sm px-4">
                                    </div>
                                    <label for="inputPassword">Password</label>
                                    <div class="form-group mb-3">
                                        <input id="inputPassword" type="password" placeholder="Password" required=""
                                            class="form-control rounded-pill border-0 shadow-sm px-4 mb-3 text-primary">
                                    </div>
                                    <div class="text-center d-flex justify-content-center mb-3">
                                        <a href="#" class="text-muted">
                                            <u style="text-decoration: none">Forgot Password?</u></a>
                                    </div>
                                    <button type="submit"
                                        class="btn btn-info btn-block text-uppercase mb-2 rounded-pill shadow-sm">Sign
                                        in</button>
                                    <div class="text-center d-flex justify-content-between mt-4">
                                        <p>Not a client?<a href="#" class="font-italic text-muted">
                                                <u>Register</u></a></p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div><!-- End -->

                </div>
            </div><!-- End -->

        </div>
    </div>



    {# <div class="row">
        <header class="col-12 col-lg-6 text-center text-lg-left">
            <div class="row logo-row">
                {#<div class="col-3 col-sm-2 col-lg-3 col-xl-2">
                    <a href="/"><img src="/static/images/tfc_logo_white_blue.png" class="img-fluid logo"
                            alt="{{g.branding}}"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-10 col-xl-9 mx-auto">
                    <h1 class="mb-4">Hi.</h1>
                    <div class="row">
                        <div class="col-10 col-lg-9 ml-auto ml-lg-0 mr-auto">
                            <p>Please log in to access the vet management.</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <svg class="img-fluid svg circles" width="100" height="100" viewbox="0 0 100 100"
                xmlns="http://www.w3.org/2000/svg">
                <circle cx="79" cy="15" r="20" stroke="#ed4482" fill="transparent" />
                <circle cx="93" cy="35" r="8" stroke="#f26248" fill="transparent" />
                <circle cx="16" cy="96" r="26" stroke="#42bb83" fill="transparent" />
            </svg> -->
        </header>
        <div class="col-12 col-lg-6 login-col d-lg-flex align-items-center bg-tertiary pt-4 pt-lg-0">
            <div class="row">
                <div class="col-10 col-lg-8 mx-auto">
                    <form id="login-form" class="vindicate-form" action="" method="POST">
                        <legend class="mb-4"><small>System Login</small></legend>
                        <div class="form-group">
                            <input type="email" name="email" class="form-control form-control-lg fancy"
                                value="{{request.form.get('email', '') if request.form}}" placeholder="Email Address"
                                data-vindicate="required|format:email" autofocus>
                            <small class="invalid-feedback"></small>
                        </div>
                        <div class="form-group">
                            {{youshallseepass(input_id='password', input_class='form-control-lg fancy')}}
                        </div>
                        <div class="form-check">
                            <input id="remember-me" class="form-check-input" type="checkbox" name="remember_me"
                                {{'checked' if request.form and request.form.get('remember_me', False)}}>
                            <label class="form-check-label" for="remember-me">Remember Me</label>
                        </div>
                        <button class="btn btn-primary btn-block py-2 mt-5 vindicate-form-submit"
                            type="submit"><strong>Sign In</strong> <i class="fai far fa-arrow-right"></i></button>
                    </form>
                    <div class="text-center mt-2">
                        Forgot Password?
                        {# <a href="{{url_for('password.reset_request')}}" class="text-muted"><small>Forgot
                                password?</small></a>
                    </div>
                </div>
            </div>
        </div>
    </div> #}
</main>
{% endblock %}
{% block _javascript %}

<script src="/static/js/ms.bundle.js"></script>

{% endblock %}